* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}

li {
    list-style-type: none;
}

a{
    text-decoration: none;
}



.container{
    max-width: 1110px;
    margin: 0px auto;
    overflow: hidden;
}



.nav__searching.show {
    display: block;
}


#header 
{   
    overflow: visible;
    background-color: #FFF;
    .header__wrapper{
        background: #E5E5E5;
        height: 50px;
        display: flex;
        align-items: center;
            .header__menu{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 30px;
                .header__menu-item{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    color: #333333;
                }
            }
        }
    .nav__menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 120px;
        .nav__logo{
            display: flex;
            align-items: center;
        }
        .nav__text-logo{
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 42px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #F13C6E;
            padding-left: 20px;
        }
        .search-img{
            position: relative;
            left: 40px;
            top: 5px;
        }
        .search-img-adaptive {
            display: none;
        }
        .nav__search{
            width: 250px;
            height: 40px;
            background: #EFEFEF;
            border-radius: 40px;
            border: none;
        }
        .nav__phone{
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #000000;
        }
        .nav__button{
            width: 170px;
            height: 40px;
            background: #FFFFFF;
            border: 2px solid #F13C6E;
            border-radius: 40px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;

            color: #000000;
        }
        .header__burger {
            display: none; 
        }
    }
    .header__burger-items {
        display: none;
    } 
    .hr-line{
        border: 1px solid #EFEFEF;
    }
    .header__menu-sub{
        min-height: 79px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        .header__menu-sub-item{
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #000000;
        }
    }

  
    }



main{
    background: #E5E5E5;
}






.map__title{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.map__descr{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.map-button{
    width: 170px;
    height: 35px;
    left: 1015px;
    top: 1605px;
    background: #F13C6E;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}




footer{
    background: #FFF;
    margin-top: 80px;
    .footer__wrapper{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap:30px;
        .footer__list {
            border-top: 1px solid #EFEFEF;
            .footer__list-item {
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 28px;
                color: #828282;
            }
        }
    }
}

@import './sections/sec-main';
@import './sections/special-offers';
@import './sections/bonuses-info';
@import './sections/impuls';
@import './sections/recently-watched';
@import './adaptive';



