.bonuses-info{
    margin-top: 100px;
    .bonuses-info__wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        .block_red{
            width: calc(50% - 15px);
            background: #F13C6E;
            height: 212px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .content_right-wrp{
                display: flex;
                flex-direction: column;
                gap: 25px;
                padding-left: 7px;
                .bonuses_and_gifts__title{
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 21px;
                    color: #FFFFFF;
                }
                .bonuses_and_gifts__descr{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: #FFFFFF;
                    width: 231px;
                }
                .bonuses_and_gifts-inp{
                    background: #FFFFFF;
                    border-radius: 30px;
                    border: none;
                    width: 225px;
                    height: 35px;
                    padding-left: 25px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    color: #C4C4C4;
                }
            }
        }
    }
}



