.sec-main{
    background: url(../img/phone.png) center center no-repeat;
    background-size: cover;
    min-height: 604px;
    .sec-main__wrapper{
        padding-top: 192px;
        .sec-main__title{
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 56px;
            color: #FFFFFF;
        }
        .sec-main__descr{
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            width: 308px;
            padding-top: 50px;
            color: #FFFFFF;
        }
        .sec-main__btn{
            background: #F13C6E;
            border: 2px solid #FFFFFF;
            border-radius: 40px;
            width: 170px;
            height: 40px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            letter-spacing: 0.05em;
            margin-top: 50px;
            color: #FFFFFF;
        }
    }
}
